{% extends 'myapp/base.html' %}
{% block title %} Products{% endblock %}
{% block myhdg %} {% endblock %}
{% block body_block %}
    <h1>List of Products:</h1>
    <ul>
        {% for prod in prodlist %}
            <li> {{ prod.name }} ------------ ${{ prod.price }}</li>
        {% endfor %}
    </ul>
    <br/>
    <h2>Place an Order</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Place Order"/>
    </form>
{% endblock %}
